.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#f25757, #f25757);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.navbar-name {
  transition: 1s;
}

.navbar-home:hover .navbar-name {
  color: #878a8f;
  scale: 101%;
  transition: 1s;
}

@media (max-width: 640px) {
  .menu-bar-active {
    display: block;
    transition: 1s;
  }

  .menu-bar-2 {
    display: block;
    transform: translateX(-10rem);
    opacity: 0;
    transition: 1s;
  }

  .menu-bar {
    display: block;
    transform: translateY(-10rem);
    opacity: 0;
    transition: 1s;
  }
}
