.skills {
  position: relative;
  top: 100%;
}

.skills-img {
  animation: rotateAnim 5s linear alternate infinite;
}

.react-inner {
  position: absolute;
  top: 15%;
  right: 13.1%;
  width: 30%;
  max-width: 30rem;
}

@keyframes rotateAnim {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
