.case-studies-section {
  height: 210vh;
}

.work1 {
  position: absolute;
  top: 130%;
}

.work2 {
  position: absolute;
  top: 195%;
}

.work3 {
  position: absolute;
  top: 260%;
}

.hr-line {
  height: 200%;
}
