.img-section {
  box-shadow: inset -100rem 0 0 0 #111;
  transition: 1s;
}

.img-section:hover {
  background: #111;
  box-shadow: inset 20rem 0 0 0 #111;
  transition: 1s;
}

.img-cover {
  transition: 2s;
  opacity: 0.5;
}

.number-text {
  z-index: 100;
  opacity: 0;
  transition: 0.5s;
}

.project-text {
  transition: 1s;
}

.button-icon {
  transition: 1s;
}

.project-description {
  transition: 1s;
}

.work-section:hover .number-text {
  opacity: 1;
  transition: 2s;
}

.work-section:hover .button-text {
  scale: 110%;
}

.button-text {
  background: linear-gradient(270deg, #f06449, #ef3636);
  padding: 0.5rem 1.25rem;
  width: 7.3rem;
  transition: 1s;
}

.button-text:hover {
  box-shadow: inset 20rem 0 0 0 #213777;
  transition: 1s;
}

.button-section:hover .button-icon {
  transform: translateX(0.45rem);
  transition: 1s;
}

.work-section:hover .project-text {
  scale: 110%;
}

.project-description {
  transition: 1s;
}

.work-section:hover .project-description {
  transform: translateY(0.2rem);
  transition: 1s;
}

.button-section:hover {
  box-shadow: inset 20rem 0 0 0 #111;
  transition: box-shadow 1s;
}
