@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Selections */

.name-text::selection {
  background: #878a8f;
  color: #fff;
}

.title-text::selection {
  background: #878a8f;
  color: #fff;
}

.bio-text::selection {
  background: #878a8f;
  color: #fff;
}

.case-studies-text::selection {
  background: #111;
  color: #fff;
}

.latest-works-text::selection {
  background: #111;
  color: #fff;
}
