@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-home-img {
  filter: grayscale(100%);
}

/* Selections */
.name-text::selection {
  background: #878a8f;
  color: #fff;
}

.title-text::selection {
  background: #878a8f;
  color: #fff;
}

.bio-text::selection {
  background: #878a8f;
  color: #fff;
}

.case-studies-text::selection {
  background: #111;
  color: #fff;
}

.latest-works-text::selection {
  background: #111;
  color: #fff;
}

.role-text::selection {
background:#111;
}

.role-title-text::selection {
background:#111;
color:#fff;
}



/* Hover underline animation effects */
.view-projects-text::after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: black;
  transition: 300ms;
}

.view-projects-text:hover::after {
  width: 100%;
}

.read-about-text::after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: black;
  transition: 300ms;
}

.read-about-text:hover::after {
  width: 100%;
}

/* Typing animation */
.heading-text {
  animation: typing 3s steps(250, end) alternate;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*cryptodora project page styling */

.cryptodora-img {
  width: 75%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visit-website-arrow {
  position: relative;
  left: 2rem;
  transition: 1s;
}

.visit-website-btn:hover .visit-website-arrow {
  transform: translateX(0.5rem);
  color: #0f141e;
  transition: 1s;
}

.introduction-section {
  position:relative; top:68%;
}

.footer-cryptodora {
  position:relative;
  top:0;
}

.cryptodora-svg-img {
width:80%;
}

.hr-line-cryptodora {
top:150%;
height:100%;
}

.analysis-heading-section {
position:relative;
top:27%;
}

.analysis-section {
  position:relative;
  top:35%;
}

.colors-section {
  position:relative;
  top:40%;
}

.work-section-arrow {
transition:2s;
}

.next-work-section:hover .work-section-arrow {
  transform:translateX(1rem);
  transition:2s;
}

.analysis-outer-section {
  height:170%;
}

.email-me-text {
  opacity:0;
  transition:.1s;
}

.email-me-btn:hover .email-me-text {
  opacity:1;
  transition:1s;
} 

@media (max-width:1300px) {
.colors-section {
    display:none;
  }
}