.container {
  padding: 0 2rem;
}

.main {
  background-image: url("../images/frontend dev_.svg");
  background-repeat: no-repeat;
  overflow-y: hidden;
  background-size: 100%;
  background-position: bottom 99% right 2%;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

@media (max-width: 640px) {
  .main {
      background-size: 100%;
      background-image: url("../images/frontend_dev_mobile.svg");
  }

  .container {
  padding: 0 1rem;
  }
}