.container {
  padding: 0 2rem;
}

.main {
  background-image: url("../images/frontend dev_.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom 98.4% right 10%;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
